<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>q4.png</key>
			<dict>
				<key>width</key>
				<integer>1890</integer>
				<key>height</key>
				<integer>967</integer>
				<key>originalWidth</key>
				<integer>1890</integer>
				<key>originalHeight</key>
				<integer>967</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>q3.png</key>
			<dict>
				<key>width</key>
				<integer>674</integer>
				<key>height</key>
				<integer>523</integer>
				<key>originalWidth</key>
				<integer>674</integer>
				<key>originalHeight</key>
				<integer>523</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>969</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>q2.png</key>
			<dict>
				<key>width</key>
				<integer>607</integer>
				<key>height</key>
				<integer>799</integer>
				<key>originalWidth</key>
				<integer>607</integer>
				<key>originalHeight</key>
				<integer>799</integer>
				<key>x</key>
				<integer>676</integer>
				<key>y</key>
				<integer>969</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>q1.png</key>
			<dict>
				<key>width</key>
				<integer>572</integer>
				<key>height</key>
				<integer>647</integer>
				<key>originalWidth</key>
				<integer>572</integer>
				<key>originalHeight</key>
				<integer>647</integer>
				<key>x</key>
				<integer>1285</integer>
				<key>y</key>
				<integer>969</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>logo0.png</string>
			<key>realTextureFileName</key>
			<string>logo0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>